In [11]:
print("Twinkle, twinkle, little star")
print("       How I wonder what you are!")
print("              Up above the world so high")
print("              like a diamond in the sky")
print("Twinkle, twinkle, little star")
print("       How I wonder what you are!")

Twinkle, twinkle, little star
       How I wonder what you are!
              Up above the world so high
              like a diamond in the sky
Twinkle, twinkle, little star
       How I wonder what you are!

In [14]:
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [29]:
from datetime import date

today = date.today()
date = today.strftime("%d/%m/%Y")
print("date =", d1)

date = 17/11/2019

In [32]:
radius=int(input("enter the raidus of the circle  "))
area=(radius*radius)*3.142
area

enter the raidus of the circle  5

78.55

In [38]:
first_name=input("Enter your first name:  ")
last_name=input("Enter your last name:  ")
print(last_name+ " " +first_name)

Enter your first name:  taimoor
Enter your last name:  rasheed
rasheed taimoor

In [39]:
no1=int(input("Enter the first number"))
no2=int(input("Enter the second number"))
no3=  no1+no2
no3

Enter the first number5
Enter the second number10

15